<!DOCTYPE HTML>
{% load static %}

<!--
	Justice by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Justice &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" {% static ' content=' %} ""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" {% static ' content=' %} "" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 900" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href=" {% static 'css/animate.css' %} ">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href=" {% static 'css/icomoon.css' %} ">
	<!-- Themify Icons-->
	<link rel="stylesheet" href=" {% static 'css/themify-icons.css' %} ">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href=" {% static 'css/bootstrap.css' %} ">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} ">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
	<link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">
	<!-- Flexslider -->
	<link rel="stylesheet" href=" {% static 'css/flexslider.css' %} ">
	<!-- Theme style  -->
	<link rel="stylesheet" href=" {% static 'css/style.css' %} ">

	<!-- Modernizr JS -->
	<script src=" {% static 'js/modernizr-2.6.2.min.js' %} "></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src=" {% static 'js/respond.min.js' %} "></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="gtco-logo"><a href="#" data-nav-section="contact">Just<em>ice</em></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="practice-areas">Login</a></li>
						<li><a href="#" data-nav-section="our-team">Reg.Customer</a></li>
						<li><a href="#" data-nav-section="our-worker">Reg.Worker</a></li>
						<li class="btn-cta"><a href="#" data-nav-section="contact"><span>Contact</span></a></li>

						<!-- For external page link -->
						<!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<section id="gtco-hero" class="gtco-cover" style="background-image: url( {% static 'images/img-1.png' %} );"  data-section="home"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeIn">Justice</h1>
							<h2 class="animate-box" data-animate-effect="fadeIn">Online Home Service</h2>
							<h2 class="animate-box" data-animate-effect="fadeIn"><b>The Greatest Firm You Can Trust</b></h2>
							<p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://www.youtube.com/watch?v=x3ztqa4SoAE" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="gtco-about" data-section="about">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Welcome To Our Firm</h1>
					<p class="sub">Download the app to search and book top professionals in your area. Build a pro team so that you always have a great group of go-to professionals for all your household needs.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
					<div >
						<img src=" {% static 'images/household.jpg' %} " class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2 class="heading-colored">Vetted professionals</h2>
					<p>Pros using the Handy platform are experienced, friendly, and screened.</p>
					<h2 class="heading-colored">Next day availability</h2>
					<p>Book online in 60 seconds and schedule your home service for as early as tomorrow.</p>
					<h2 class="heading-colored">Our Happiness Guarantee</h2>
					<p>Your happiness is our goal. If you’re not happy, we’ll work hard to make it right.</p>
					<h2 class="heading-colored">Manage Everything Online</h2>
					<p>Rescheduling, contacting your professional, and paying are just a tap away.</p>
					<p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-practice-areas" data-section="practice-areas">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
<!--					<h1>Practice Areas</h1>-->
<!--					<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">LOGIN</p>
				<a class="btn btn-primary" href="{% url 'login_page' %}" role="button">Login</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
<!--					<div class="gtco-practice-area-item animate-box">-->
<!--						<div class="gtco-icon">-->
<!--&lt;!&ndash;							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">&ndash;&gt;-->
<!--						</div>-->
<!--						<div class="gtco-copy">-->
<!--&lt;!&ndash;							<h3>Criminal Law</h3>&ndash;&gt;-->
<!--&lt;!&ndash;							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>&ndash;&gt;-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="gtco-practice-area-item animate-box">-->
<!--						<div class="gtco-icon">-->
<!--&lt;!&ndash;							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">&ndash;&gt;-->
<!--						</div>-->
<!--						<div class="gtco-copy">-->
<!--&lt;!&ndash;							<h3>Industrial Law</h3>&ndash;&gt;-->
<!--&lt;!&ndash;							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>&ndash;&gt;-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="gtco-practice-area-item animate-box">-->
<!--						<div class="gtco-icon">-->
<!--&lt;!&ndash;							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">&ndash;&gt;-->
<!--						</div>-->
<!--						<div class="gtco-copy">-->
<!--&lt;!&ndash;							<h3>Financial Law</h3>&ndash;&gt;-->
<!--&lt;!&ndash;							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>&ndash;&gt;-->
<!--						</div>-->
<!--					</div>-->

				</div>
				<div class="col-md-6">
					
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
<!--							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">-->
						</div>
						<div class="gtco-copy">
<!--							<h3>Divorce Law</h3>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>-->
						</div>
					</div>

					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
<!--							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">-->
						</div>
						<div class="gtco-copy">
<!--							<h3>Corporate Law</h3>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>-->
						</div>
					</div>

<!--					<div class="gtco-practice-area-item animate-box">-->
<!--						<div class="gtco-icon">-->
<!--&lt;!&ndash;							<img src=" {% static 'images/scale.png' %} " alt="Free HTML5 Bootstrap Template by FreeHTML5.co">&ndash;&gt;-->
<!--						</div>-->
<!--						<div class="gtco-copy">-->
<!--&lt;!&ndash;							<h3>Accident Law</h3>&ndash;&gt;-->
<!--&lt;!&ndash;							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>&ndash;&gt;-->
<!--						</div>-->
<!--					</div>-->

				</div>
			</div>
		</div>
	</section>

	<section id="gtco-our-team" data-section="our-team">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
<!--					<h1>Our Team</h1>-->
<!--					<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
<!--					<p class="subtle-text animate-box" data-animate-effect="fadeIn">REGISTRATION</p>-->
					<a class="btn btn-primary" href="{% url 'customer_registration' %}" role="button">Customer.Regestration</a>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div >
						<img src=" {% static 'images/img-4.png' %} " class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2>Tranquility</h2>
					<p>Staff to provide peace-of-mind that critical tasks and activities are taken care of on-time with efficiency and reliability. Invisible or front-and-center performance of duties.</p>
<!--					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>-->
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div >
						<img src=" {% static 'images/img-5.png' %} " class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2>Privacy</h2>
					<p>Comprehensive engagement and oversight to ensure without doubt that assets, information, communications are confidential and secure.</p>
<!--					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>-->
				</div>
			</div>

		</div>
	</section>

	<section id="gtco-our-team" data-section="our-worker">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
<!--					<h1>Our Team</h1>-->
<!--					<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
<!--					<p class="subtle-text animate-box" data-animate-effect="fadeIn">REGISTER</p>-->
					<a class="btn btn-primary" href="{% url 'worker_registration' %}" role="button">Worker.Regestration</a>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div >
						<img src=" {% static 'images/img-6.png' %} " class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2>Services</h2>
					<p>Demonstrated experience and references to perform with expertise, skill, creativity and thoughtfulness.</p>
<!--					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>-->
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div >
						<img src=" {% static 'images/img-7.png' %} " class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2>Perfection</h2>
					    <p>Achieving full results and cultural style with desired level of service, attention to detail and accuracy.</p>
<!--					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>-->
				</div>
			</div>

		</div>
	</section>

	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Contact Us</h1>
<!--					<p class="sub">Phone: (303) 340-0322-->
<!--Email: intake@supportinc.com-->
<!--15591 E. Centretech Pkwy-->
<!--Aurora, CO 80011-->
<!--MON-THURS 9:00AM – 5:30PM-->

<!--Please Get In Touch!</p>-->
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<form action="#">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="text" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">198 West 21th Street, Suite 721 New York NY 10016</li>
							<li class="phone"><a href=" {% static 'tel://1235235598' %} ">+ 1235 2355 98</a></li>
							<li class="email"><a href=" {% static 'mailto:info@yoursite.com' %} ">info@onlinehomeservicejustice.com</a></li>
							<li class="url" {% static '><a href=' %} "#">http://onlinehomeservice_justice.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="gtco-footer" role="contentinfo">
		<div class="container">
			
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">© 2022 Support, Inc.- All Rights Reserved</small>
<!--						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>-->
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src=" {% static 'js/jquery.min.js' %} "></script>
	<!-- jQuery Easing -->
	<script src=" {% static 'js/jquery.easing.1.3.js' %} "></script>
	<!-- Bootstrap -->
	<script src=" {% static 'js/bootstrap.min.js' %} "></script>
	<!-- Waypoints -->
	<script src=" {% static 'js/jquery.waypoints.min.js' %} "></script>
	<!-- Stellar -->
	<script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
	<!-- Magnific Popup -->
	<script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
	<script src=" {% static 'js/magnific-popup-options.js' %} "></script>
	<!-- Main -->
	<script src=" {% static 'js/main.js' %} "></script>

	</body>
</html>

